.landing-page{
/* position: relative; */
    /* background-repeat: no-repeat;
   background-size: cover; */
    font-size: x-small;
    position: absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.center{
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
}
p{
    color: white;
    font-size: x-small;
    text-align: center;
    font-weight: 100;
}
.logo{
  
  align-items: center;  
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mouse_click{
    position: absolute;
    top: 110%;
    left:50%;
    transform:translate(-50%, -50%);
}
.about{
    
    font-size: x-small;
    text-align: center;
    font-weight: 100;
img{
  
  height: auto; 
}
h2,h4{
    text-align: center;
}
.centered {
    position: absolute;
    top: 145%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.development{
    top: 195%;
    left: 50%;
    position: absolute;
    margin-left: -25px;
    margin-top: -30px;
}
.product{
    top: 195%;
    left: 80%;
    position: absolute;
    margin-left: -25px;
    margin-top: -30px;  
}
/* .icon_middle {
    width:50px;
float: right;
width: 100px;
height: 85px;
}
.icon_middle span {
    display:block;
} */
.development span{
    display: inline-block;
}