.landing-page{
/* position: relative; */
    /* background-repeat: no-repeat;
   background-size: cover; */
    font-size: x-small;
    position: absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.center{
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
}
/* p{
    color: black;
    font-size: x-small;
    text-align: center;
    font-weight: 100;
} */
.logo{
  
  align-items: center;  
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mouse_click{
    position: absolute;
    top: 250%;
    left:50%;
    transform:translate(-50%, -50%);
}
.about{
    color: black;
    font-size: x-small;
    text-align: center;
    font-weight: 100;
}
/* img{
  
  height: auto; 
} */
h2,h4{
    text-align: center;
    font-size: medium;
}
.centered {
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%, -50%);
   color: white;
   font-size: x-small;
   text-align: center;
}
.design{
    font-size: small;
    top: 161;
    left: 70%;
}
.design1{
    top: 0%;
    right:35%;
}
.development{
    top: 170%;
    right: 35%;
    position: absolute;
    margin-left: -25px;
    margin-top: -30px;
    font-size: small;
}
.development1{
 left: 10%;

}
.product{
    top: 168%;
    right: 5%;
    position: absolute;
    margin-left: -25px;
    margin-top: -30px; 
    font-size: small; 
}
.product1{
    top: 40%;
    left: 40%;
}
.text {
    color: black;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 40%;
    color: #000;
    font-size: x-large;
}
.contacts {
    position: absolute;
    top: 330%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  form{
      position: absolute;
      top: 332%;
      padding: 40px 40px;
      left: 33%;
  }
  textarea{
      position: absolute;
      top: 345%;
      left: 35%;
    }
    footer{
        position: absolute;
        left: 35%;
    }
    .footer1{
        position: absolute;
        left: 30%;
    }
    .footer2{
        position: absolute;
        left: 37%;
    }